[Unit]
Description=anaker_ir_record
After=multi-user.target

[Service]
Restart=always
WorkingDirectory=/home/pi/anaker_ir
ExecStartPre=/bin/sleep 15
ExecStart=/home/pi/anaker_ir/run_record.sh

[Install]
WantedBy=multi-user.target
